@model BroadwayEnglishSchoolTimetable.Models.mainMailPL

@{
    ViewBag.Title = "Главная почта";
}

<h2>Главная почта</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.mail)
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.mail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit")
        </td>
    </tr>
</table>


















